@{
  Layout = "_Layout";
}

<h1>Order Details </h1>

  <div class="card bg-light mb-3">
      <div class="card-body">
        <h3>Title: @Model["order"].Title</h3>
        <h3>Description: @Model["order"].Description</h3>
        <h3>Total: @Model["order"].Total</h3>
        <h3>Date: @Model["order"].Date</h3>
        <h3>Vendor: @Model["vendor"].Name</h3>
      </div>
  </div>

<a href='/vendors/@Model["vendor"].Id/orders/new' class="btn btn-primary">Add Order</a>
